{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ PROJECT_NAME }}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Base Django de {{ PROJECT_NAME }}.{% endblock %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    {% include "base/header.html" %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include "base/footer.html" %}
</body>
</html>